sandbox.py
dark_photon_limits.*
run_script.sh
__pycache__/
21cmfast_sim/*.pdf
*.code-workspace
halo_data/
*.out
settings.json

*.hdf5
ilc_prayer/*.pdf
ilc_prayer/*.png
ilc_prayer/*.npy
*.fits
*.dat
job_scripts/
*.o*
**/pheno_talk*
poster_figures/
ilc/pres_ilc_images/

